.kotak-request {
    width: 1000px;
    background: white;
    /*meletakkan form ke tengah*/
    margin-top: 80px;
    margin-bottom: 0px;
    padding: 10px 10px;
}

.kotak {
    width: 1000px;
    background: white;
    /*meletakkan form ke tengah*/
    margin: 0px auto;
    padding: 0px 20px;
}

label {
    font-size: 8pt;
    margin-bottom: 0px;
}

option {
    font-size: 8pt;
}

.input-text {
    /*membuat lebar form penuh*/
    box-sizing: border-box;
    width: 50%;
    height: 20px;
    padding: 5px;
    font-size: 8pt;
    margin: 0px;
}

.input-request {
    /*membuat lebar form penuh*/
    box-sizing: border-box;
    width: 100%;
    height: 30px;
    padding: 5px;
    font-size: 8pt;
    margin: 0px;
}

.submit_request {
    background: #2aa7e2;
    color: white;
    font-size: 11pt;
    width: 50%;
    border: none;
    border-radius: 3px;
    margin-top: 20px;
    margin-bottom: 30px;
    padding: 10px 20px;
}


/*.alert{
	background: #e44e4e;
	color: white;
	padding: 10px;
	text-align: center;
	border:1px solid #b32929;
}*/